.button {
  font-weight: 300;
  padding: 15px 0;
  border: 1.5px solid $brown;
  border-radius: 3px;
  width: 270px;
  text-align: center;
  transition: color 0.3s 0.2s ease-out, background-color 0.5s 0.2s ease-out;
}

.button:hover {
  color: $yellow;
  background-color: $brown;
}
