.infos {
  line-height: 1;
}

.infos-contact,
.infos-social,
.infos-legalities {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}

.infos-social div,
.infos-legalities div,
.infos-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.infos a {
  display: block;
}

.infos-credits {
  font-size: 9px;
  text-align: center;
  margin-top: 100px;
}
