.infos-adress,
.infos-social,
.infos-legalities {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}

.infos-adress p {
  margin-top: 5px;
}
.infos-social div,
.infos-legalities div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.infos a {
  display: block;
}

.infos-credits {
  font-size: 9px;
  text-align: center;
  margin-top: 100px;
}
