.product {
  font-size: 19px;
  margin-bottom: 140px;
}

.product h3 {
  font-size: 75px;
  letter-spacing: 3.75px;
  text-transform: uppercase;
}

.product h4 {
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-top: 120px;
}

.product li {
  list-style-type: none;
}

.product span {
  display: block;
  margin-top: 20px;
}

.product-detail {
  color: var(--brown, #261f19);
  position: relative;
}
.product-informations {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 5px;
}

.product-bottle {
  position: absolute;
  left: 50%;
  height: 70%;
  width: auto;
  transform: translateX(-50%) rotate(15deg);
}

// -----------

.product-swipe h2 {
  margin: 50px 0;
}

.product-swipe p {
  font-size: 14px;
  text-align: center;
  margin-top: 14px;
}

.product-swipe img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.product-0,
.product-1 {
  border: 1px solid $beige;
  width: 80%;
  height: 100%;
  margin: auto;
}

.product-1 {
  height: 130%;
}
