.story {
  position: relative;
}

.story-rose {
  position: absolute;
  height: 100%;
}

.story h3 {
  margin-bottom: 40px;
}

.story h2 {
  margin-bottom: 100px;
}

.story-licorne {
  margin-bottom: 100px;
}
