.l-dark {
  background-color: $red;
  padding: 180px 0 185px;
}

.l-blond {
  background-color: $yellow;
  padding: 180px 0 185px;
}

.l-ipa {
  background-color: $green;
  padding: 180px 0 185px;
}

.l-story {
  padding-bottom: 80px;
}
