.l-dark,
.l-blond,
.l-ipa {
  padding: 180px 0 185px;
  height: 850px;
  position: relative;
}

.l-dark {
  background-color: $red;
}

.l-blond {
  background-color: $yellow;
}

.l-ipa {
  background-color: $green;
}

.l-story {
  padding-bottom: 80px;
}
